<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="OWASP NodeGoat Project: Insecure App" />
  <meta name="version" content="v1.2" />

  <title>OWASP NodeGoat</title>

  <!-- Bootstrap CSS -->
  <link href="vendor/bootstrap/bootstrap.css" rel="stylesheet" />
  <link href="vendor/theme/sb-admin.css" rel="stylesheet" />
  <link href="vendor/theme/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

  <style>
    #wrapper {
      padding-left: 0;
    }

    .center-text {
      text-align: center;
    }

    .panel-heading a {
      text-decoration: none;
      display: inline-block;
      width: 100%;
    }

    .login-label {
      font-weight: 600;
    }

    .alert-dropdown p {
      margin-bottom: 10px;
    }
  </style>
</head>

<body>

  <div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="https://www.owasp.org/index.php/Projects/OWASP_Node_js_Goat_Project">
          OWASP NodeGoat Project
        </a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right navbar-user">
          <li class="dropdown user-dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-label="Project Info">
              <i class="fa fa-info-circle" style="font-size: larger;"></i>
            </a>
            <ul class="dropdown-menu alert-dropdown" style="min-width: 350px; padding: 10px;">
              <li>
                <p>
                  OWASP NodeGoat is an educational Node.js web app vulnerable to the
                  <a target="_blank" href="https://www.owasp.org/index.php/Top_10_2013-Top_10">OWASP Top 10</a> risks.
                </p>
                <p>
                  It demonstrates each vulnerability in a Node.js context and provides code-level mitigation examples.
                </p>
                <p>
                  To start hacking the app, login below or access the tutorial guide.
                </p>
              </li>
              <li class="divider"></li>
              <li class="text-right"><i class="fa fa-tag"></i> v1.2</li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-12 center-text" style="padding: 30px;">
          <img src="/images/owasplogo.png" height="80" alt="OWASP Logo" />
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4"></div>

        <div class="col-lg-4">
          <!-- Tutorial Panel -->
          <div class="panel panel-info">
            <div class="panel-heading center-text">
              <a href="/tutorial" target="_blank">
                <b><i class="fa fa-book"></i> Tutorial Guide:</b> Learn OWASP Top 10
              </a>
            </div>
          </div>

          <!-- Login Panel -->
          <div class="panel panel-default">
            <div class="panel-heading center-text">
              <div style="font-size: x-large;">
                <i class="fa fa-bullseye"></i> Retire<b>Easy</b>
              </div>
              <div style="font-size: medium;">
                Employee Retirement Savings Management
              </div>
            </div>

            <div class="panel-body">
              {% if loginError %}
              <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ loginError }}
              </div>
              {% endif %}

              <form method="post" role="form" id="loginform">
                <div class="form-group">
                  <label for="userName" class="login-label">User Name</label>
                  <input type="text" class="form-control" id="userName" name="userName" value="{{ userName }}" placeholder="Enter User Name" required />
                </div>

                <div class="form-group">
                  <label for="password" class="login-label">Password</label>
                  <input type="password" class="form-control" id="password" name="password" value="{{ password }}" placeholder="Enter Password" required />
                </div>

                <input type="hidden" name="_csrf" value="{{ csrftoken }}" />

                <div class="row">
                  <div class="col-lg-6">
                    <a href="/signup">New user? Sign Up</a>
                  </div>
                  <div class="col-lg-6 text-right">
                    <button type="submit" class="btn btn-danger">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-lg-4"></div>
      </div>
    </div>
  </div>

  <!-- Scripts -->
  <script src="/vendor/jquery.min.js"></script>
  <script src="/vendor/bootstrap/bootstrap.js"></script>

  <!-- Environmental Scripts -->
  {% for script in environmentalScripts %}
  {{ script }}
  {% endfor %}

  <!-- Cookie Check Script -->
  <script>
    const areCookiesEnabled = () => {
      const cookieEnabled = navigator.cookieEnabled;
      if (!cookieEnabled) return false;

      if (!document.cookie && cookieEnabled === null) {
        document.cookie = "testcookie=1";
        if (!document.cookie) return false;
        document.cookie = "testcookie=; expires=" + new Date(0).toUTCString();
      }

      return true;
    };

    $(document).ready(() => {
      if (!areCookiesEnabled()) {
        $("#page-wrapper").prepend(`
          <div class="row">
            <div class="col-lg-12">
              <div class="alert alert-danger">
                Cookies are not enabled in your browser. Please enable them to continue.
              </div>
            </div>
          </div>
        `);
      }
    });
  </script>
</body>

                                                                                                               </html>
